#content{
	display: flex;
	justify-content: space-evenly;
	height: 92vh;
	width: 100vw;	
	background-color: #EEEEEE;
	overflow: hidden;
}

#div_trails{
	height: 100%;
	width: 25%;
	overflow: scroll;
	
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-around;

	padding:5px;
}

.card{
	margin:5px;
}

#div_map{
	display:inline-block;
	height: 100%;
	width: 75%;

}