#content {
	height: 91vh;
	width: auto;
	background-color: #EEEEEE;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}
		
#sidebar{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@media screen and (min-width: 768px){
	#sidebar{
		grid-area: 1 / 1 / 1 / 2; 
	}
	
	#div_map{
		grid-area: 1 / 2 / 2 / 5; 
	}
}
@media screen and (max-width: 768px){
	#sidebar{
		grid-area: 1 / 1 / 1 / 5; 
	}
	#div_map{
		display: none;
	}
	.btn-view{
		display: none;
	}
}

#div_filters{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	
	box-sizing: border-box;
    padding: 10px;
}

#div_filters > *{
	width: 100%;
}

#div_trails{
	height: 90%;
	width: 100%;
	overflow: scroll;
	
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-around;

	padding:5px;
}

.card{
	margin:5px;
}
