#content{
	height: 92vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1em;
}

#menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin: 1em;
}

.card{
	min-width: 40%;
	max-height: 70%;
}

#pic{	
	min-height: 50%;
	background-image: url('../assets/img/gran_sasso.webp');
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

#reviews{
	width: 75%;
}
